[submodule "Swifter"]
	path = Swifter
	url = git@github.com:s-aska/Swifter.git
[submodule "Pinwheel"]
	path = Pinwheel
	url = git@github.com:s-aska/Pinwheel.git
[submodule "Async"]
	path = Async
	url = git@github.com:duemunk/Async.git
[submodule "Reachability"]
	path = Reachability
	url = git@github.com:ashleymills/Reachability.swift.git
