github "s-aska/EventBox"
github "s-aska/KeyClip"
github "s-aska/TwitterAPI"
github "onevcat/Kingfisher"
github "gavinbunney/Toucan"
github "SwiftyJSON/SwiftyJSON"
github "duemunk/Async"
github "ashleymills/Reachability.swift" ~> 3.0
github "krzyzanowskim/CryptoSwift"
