@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?61047186');
  src: url('../font/fontello.eot?61047186#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?61047186') format('woff'),
       url('../font/fontello.ttf?61047186') format('truetype'),
       url('../font/fontello.svg?61047186#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?61047186#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-plus:before { content: '\2b'; } /* '+' */
.icon-at:before { content: '\40'; } /* '@' */
.icon-fontsize:before { content: '\41'; } /* 'A' */
.icon-star:before { content: '\2605'; } /* '★' */
.icon-cancel:before { content: '\2716'; } /* '✖' */
.icon-cog:before { content: '\2721'; } /* '✡' */
.icon-menu:before { content: '\4e09'; } /* '三' */
.icon-up-open:before { content: '\4e0a'; } /* '上' */
.icon-down-open:before { content: '\4e0b'; } /* '下' */
.icon-user:before { content: '\4eba'; } /* '人' */
.icon-floppy:before { content: '\4fdd'; } /* '保' */
.icon-right-open:before { content: '\53f3'; } /* '右' */
.icon-megaphone:before { content: '\58f0'; } /* '声' */
.icon-home:before { content: '\5bb6'; } /* '家' */
.icon-left-open:before { content: '\5de6'; } /* '左' */
.icon-art-gallery:before { content: '\5f69'; } /* '彩' */
.icon-undo:before { content: '\623b'; } /* '戻' */
.icon-paper-plane:before { content: '\6295'; } /* '投' */
.icon-search:before { content: '\63a2'; } /* '探' */
.icon-sliders:before { content: '\6574'; } /* '整' */
.icon-mail:before { content: '\6587'; } /* '文' */
.icon-edit-alt:before { content: '\66f8'; } /* '書' */
.icon-list-bullet:before { content: '\6b04'; } /* '欄' */
.icon-picture:before { content: '\753b'; } /* '画' */
.icon-retweet:before { content: '\8f2a'; } /* '輪' */
.icon-reply:before { content: '\8fd4'; } /* '返' */
.icon-play-circled2:before { content: '\9032'; } /* '進' */
.icon-lock:before { content: '\9375'; } /* '鍵' */
.icon-bell:before { content: '\9418'; } /* '鐘' */
.icon-flash:before { content: '\96f7'; } /* '雷' */
.icon-twitter:before { content: '\9ce5'; } /* '鳥' */